/*
 * LEIA RESTful API for AI
 * Leia API
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@leia.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.leia.client.api;

import io.leia.client.ApiCallback;
import io.leia.client.ApiClient;
import io.leia.client.ApiException;
import io.leia.client.ApiResponse;
import io.leia.client.Configuration;
import io.leia.client.Pair;
import io.leia.client.ProgressRequestBody;
import io.leia.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.leia.client.model.ApplyBody;
import io.leia.client.model.FormatTypes;
import io.leia.client.model.Job;
import io.leia.client.model.Model;
import io.leia.client.model.ModelInputTypes;
import io.leia.client.model.ModelTypes;
import java.time.OffsetDateTime;
import io.leia.client.model.TrainBody;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ModelApi {
    private ApiClient localVarApiClient;

    public ModelApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ModelApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for applyModelAsync
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id or the short name of the model to apply on the document (required)
     * @param documentIds Comma separated list of document ids to process (required)
     * @param tag The tag of the documents to process. If tag is present, document_ids should contain a single value, and the documents processed will be those where original_id&#x3D;document_ids[0] and that contain the specified tag (optional)
     * @param formatType The format in which the data should be returned. If empty, will return an array of key-value items. If it is classification, the result will be a Classification object. (optional)
     * @param executeAfterId The id of a job that must be in PROCESSED status before this one can be started (used to chain jobs even before the first ones are terminated). If the referenced job becomes FAILED or is CANCELED, this one will fail (optional)
     * @param pageRange The pages that should be used in previous job to process this one. Can only be used if execute_after_id is not null. Pages are indexed from 0. Syntax is the same as Python slices syntax (https://docs.python.org/3/whatsnew/2.3.html#extended-slices). Examples :   * Single positive integer : keep only this page (example 4 will keep only page 5 (Remember, pages are indexed from 0))   * Single negative integer : keep only this page, but starting from the end (example -4 will keep only page 7 if there are 10 total pages)   * Range (x:y) : keep only this range of pages (Including x but excluding y, indexed from 0)     Examples       * 2: will keep all pages starting from page 3       * :5 will keep only pages 1 to 5       * 2:5 will keep only pages 3, 4 and 5       * -4: will keep only pages 7 to 10 if there are 10 total pages)       * :-2 will keep only pages 1 to 8 if there are 10 total pages)       * -4:-2 will keep only pages 7 and 8 if there are 10 total pages)   * Stride (::w) : Keep 1 page every w pages starting at the first one (example ::2 will keep only odd pages)   * Range and stride (x:y:w) : Keep 1 page every w pages within range (x:y) (example 1::2 will keep only even pages)  You can use multiple ranges of page at once, comma separated (For example, 0,2:5,-2:-1 keeps the 1st page, plus pages 3-&gt;5, plus the second to last page)  (optional)
     * @param callbackUrl Callback URL that should be called when the job becomes PROCESSED/FAILED/CANCELED. This URL will be called with a HTTP POST method, and the Job object as the payload. Callback server must answer with either a 200 or 204 HTTP response, to acknowledge the callback. Any other response code will be considered as a failure to call the callback. (optional)
     * @param modelParams Additional parameters that will be passed as is to the model (optional)
     * @param blockProcessing If true, blocks processing on the job until /job/{id}/start is called. Default is false (optional)
     * @param applyBody All the previous query parameters can also be passed as JSON in the body of the request (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A JSON depending on the data that the model is able to output. Might be converted to Classification if format_type was specified </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The documents could not be processed by this model, or using a tag with multiple document_ids </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not a classification model </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model or document not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call applyModelAsyncCall(String token, String modelId, List<String> documentIds, String tag, FormatTypes formatType, String executeAfterId, String pageRange, String callbackUrl, Object modelParams, Boolean blockProcessing, ApplyBody applyBody, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = applyBody;

        // create path and map variables
        String localVarPath = "/model/{model_id}/apply/{document_ids}"
            .replaceAll("\\{" + "model_id" + "\\}", localVarApiClient.escapeString(modelId.toString()))
            .replaceAll("\\{" + "document_ids" + "\\}", localVarApiClient.escapeString(localVarApiClient.collectionPathParameterToString("csv", documentIds)));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (tag != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("tag", tag));
        }

        if (formatType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("format_type", formatType));
        }

        if (executeAfterId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("execute_after_id", executeAfterId));
        }

        if (pageRange != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page_range", pageRange));
        }

        if (callbackUrl != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("callback_url", callbackUrl));
        }

        if (modelParams != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("model_params", modelParams));
        }

        if (blockProcessing != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("block_processing", blockProcessing));
        }

        if (token != null) {
            localVarHeaderParams.put("token", localVarApiClient.parameterToString(token));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call applyModelAsyncValidateBeforeCall(String token, String modelId, List<String> documentIds, String tag, FormatTypes formatType, String executeAfterId, String pageRange, String callbackUrl, Object modelParams, Boolean blockProcessing, ApplyBody applyBody, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'token' is set
        if (token == null) {
            throw new ApiException("Missing the required parameter 'token' when calling applyModelAsync(Async)");
        }
        
        // verify the required parameter 'modelId' is set
        if (modelId == null) {
            throw new ApiException("Missing the required parameter 'modelId' when calling applyModelAsync(Async)");
        }
        
        // verify the required parameter 'documentIds' is set
        if (documentIds == null) {
            throw new ApiException("Missing the required parameter 'documentIds' when calling applyModelAsync(Async)");
        }
        

        okhttp3.Call localVarCall = applyModelAsyncCall(token, modelId, documentIds, tag, formatType, executeAfterId, pageRange, callbackUrl, modelParams, blockProcessing, applyBody, _callback);
        return localVarCall;

    }

    /**
     * Asynchronously applies a model on documents
     * Asynchronously applies an accessible model on accessible documents and returns a Job, that will have to be polled to get the result
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id or the short name of the model to apply on the document (required)
     * @param documentIds Comma separated list of document ids to process (required)
     * @param tag The tag of the documents to process. If tag is present, document_ids should contain a single value, and the documents processed will be those where original_id&#x3D;document_ids[0] and that contain the specified tag (optional)
     * @param formatType The format in which the data should be returned. If empty, will return an array of key-value items. If it is classification, the result will be a Classification object. (optional)
     * @param executeAfterId The id of a job that must be in PROCESSED status before this one can be started (used to chain jobs even before the first ones are terminated). If the referenced job becomes FAILED or is CANCELED, this one will fail (optional)
     * @param pageRange The pages that should be used in previous job to process this one. Can only be used if execute_after_id is not null. Pages are indexed from 0. Syntax is the same as Python slices syntax (https://docs.python.org/3/whatsnew/2.3.html#extended-slices). Examples :   * Single positive integer : keep only this page (example 4 will keep only page 5 (Remember, pages are indexed from 0))   * Single negative integer : keep only this page, but starting from the end (example -4 will keep only page 7 if there are 10 total pages)   * Range (x:y) : keep only this range of pages (Including x but excluding y, indexed from 0)     Examples       * 2: will keep all pages starting from page 3       * :5 will keep only pages 1 to 5       * 2:5 will keep only pages 3, 4 and 5       * -4: will keep only pages 7 to 10 if there are 10 total pages)       * :-2 will keep only pages 1 to 8 if there are 10 total pages)       * -4:-2 will keep only pages 7 and 8 if there are 10 total pages)   * Stride (::w) : Keep 1 page every w pages starting at the first one (example ::2 will keep only odd pages)   * Range and stride (x:y:w) : Keep 1 page every w pages within range (x:y) (example 1::2 will keep only even pages)  You can use multiple ranges of page at once, comma separated (For example, 0,2:5,-2:-1 keeps the 1st page, plus pages 3-&gt;5, plus the second to last page)  (optional)
     * @param callbackUrl Callback URL that should be called when the job becomes PROCESSED/FAILED/CANCELED. This URL will be called with a HTTP POST method, and the Job object as the payload. Callback server must answer with either a 200 or 204 HTTP response, to acknowledge the callback. Any other response code will be considered as a failure to call the callback. (optional)
     * @param modelParams Additional parameters that will be passed as is to the model (optional)
     * @param blockProcessing If true, blocks processing on the job until /job/{id}/start is called. Default is false (optional)
     * @param applyBody All the previous query parameters can also be passed as JSON in the body of the request (optional)
     * @return Job
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A JSON depending on the data that the model is able to output. Might be converted to Classification if format_type was specified </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The documents could not be processed by this model, or using a tag with multiple document_ids </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not a classification model </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model or document not found </td><td>  -  </td></tr>
     </table>
     */
    public Job applyModelAsync(String token, String modelId, List<String> documentIds, String tag, FormatTypes formatType, String executeAfterId, String pageRange, String callbackUrl, Object modelParams, Boolean blockProcessing, ApplyBody applyBody) throws ApiException {
        ApiResponse<Job> localVarResp = applyModelAsyncWithHttpInfo(token, modelId, documentIds, tag, formatType, executeAfterId, pageRange, callbackUrl, modelParams, blockProcessing, applyBody);
        return localVarResp.getData();
    }

    /**
     * Asynchronously applies a model on documents
     * Asynchronously applies an accessible model on accessible documents and returns a Job, that will have to be polled to get the result
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id or the short name of the model to apply on the document (required)
     * @param documentIds Comma separated list of document ids to process (required)
     * @param tag The tag of the documents to process. If tag is present, document_ids should contain a single value, and the documents processed will be those where original_id&#x3D;document_ids[0] and that contain the specified tag (optional)
     * @param formatType The format in which the data should be returned. If empty, will return an array of key-value items. If it is classification, the result will be a Classification object. (optional)
     * @param executeAfterId The id of a job that must be in PROCESSED status before this one can be started (used to chain jobs even before the first ones are terminated). If the referenced job becomes FAILED or is CANCELED, this one will fail (optional)
     * @param pageRange The pages that should be used in previous job to process this one. Can only be used if execute_after_id is not null. Pages are indexed from 0. Syntax is the same as Python slices syntax (https://docs.python.org/3/whatsnew/2.3.html#extended-slices). Examples :   * Single positive integer : keep only this page (example 4 will keep only page 5 (Remember, pages are indexed from 0))   * Single negative integer : keep only this page, but starting from the end (example -4 will keep only page 7 if there are 10 total pages)   * Range (x:y) : keep only this range of pages (Including x but excluding y, indexed from 0)     Examples       * 2: will keep all pages starting from page 3       * :5 will keep only pages 1 to 5       * 2:5 will keep only pages 3, 4 and 5       * -4: will keep only pages 7 to 10 if there are 10 total pages)       * :-2 will keep only pages 1 to 8 if there are 10 total pages)       * -4:-2 will keep only pages 7 and 8 if there are 10 total pages)   * Stride (::w) : Keep 1 page every w pages starting at the first one (example ::2 will keep only odd pages)   * Range and stride (x:y:w) : Keep 1 page every w pages within range (x:y) (example 1::2 will keep only even pages)  You can use multiple ranges of page at once, comma separated (For example, 0,2:5,-2:-1 keeps the 1st page, plus pages 3-&gt;5, plus the second to last page)  (optional)
     * @param callbackUrl Callback URL that should be called when the job becomes PROCESSED/FAILED/CANCELED. This URL will be called with a HTTP POST method, and the Job object as the payload. Callback server must answer with either a 200 or 204 HTTP response, to acknowledge the callback. Any other response code will be considered as a failure to call the callback. (optional)
     * @param modelParams Additional parameters that will be passed as is to the model (optional)
     * @param blockProcessing If true, blocks processing on the job until /job/{id}/start is called. Default is false (optional)
     * @param applyBody All the previous query parameters can also be passed as JSON in the body of the request (optional)
     * @return ApiResponse&lt;Job&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A JSON depending on the data that the model is able to output. Might be converted to Classification if format_type was specified </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The documents could not be processed by this model, or using a tag with multiple document_ids </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not a classification model </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model or document not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Job> applyModelAsyncWithHttpInfo(String token, String modelId, List<String> documentIds, String tag, FormatTypes formatType, String executeAfterId, String pageRange, String callbackUrl, Object modelParams, Boolean blockProcessing, ApplyBody applyBody) throws ApiException {
        okhttp3.Call localVarCall = applyModelAsyncValidateBeforeCall(token, modelId, documentIds, tag, formatType, executeAfterId, pageRange, callbackUrl, modelParams, blockProcessing, applyBody, null);
        Type localVarReturnType = new TypeToken<Job>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Asynchronously applies a model on documents (asynchronously)
     * Asynchronously applies an accessible model on accessible documents and returns a Job, that will have to be polled to get the result
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id or the short name of the model to apply on the document (required)
     * @param documentIds Comma separated list of document ids to process (required)
     * @param tag The tag of the documents to process. If tag is present, document_ids should contain a single value, and the documents processed will be those where original_id&#x3D;document_ids[0] and that contain the specified tag (optional)
     * @param formatType The format in which the data should be returned. If empty, will return an array of key-value items. If it is classification, the result will be a Classification object. (optional)
     * @param executeAfterId The id of a job that must be in PROCESSED status before this one can be started (used to chain jobs even before the first ones are terminated). If the referenced job becomes FAILED or is CANCELED, this one will fail (optional)
     * @param pageRange The pages that should be used in previous job to process this one. Can only be used if execute_after_id is not null. Pages are indexed from 0. Syntax is the same as Python slices syntax (https://docs.python.org/3/whatsnew/2.3.html#extended-slices). Examples :   * Single positive integer : keep only this page (example 4 will keep only page 5 (Remember, pages are indexed from 0))   * Single negative integer : keep only this page, but starting from the end (example -4 will keep only page 7 if there are 10 total pages)   * Range (x:y) : keep only this range of pages (Including x but excluding y, indexed from 0)     Examples       * 2: will keep all pages starting from page 3       * :5 will keep only pages 1 to 5       * 2:5 will keep only pages 3, 4 and 5       * -4: will keep only pages 7 to 10 if there are 10 total pages)       * :-2 will keep only pages 1 to 8 if there are 10 total pages)       * -4:-2 will keep only pages 7 and 8 if there are 10 total pages)   * Stride (::w) : Keep 1 page every w pages starting at the first one (example ::2 will keep only odd pages)   * Range and stride (x:y:w) : Keep 1 page every w pages within range (x:y) (example 1::2 will keep only even pages)  You can use multiple ranges of page at once, comma separated (For example, 0,2:5,-2:-1 keeps the 1st page, plus pages 3-&gt;5, plus the second to last page)  (optional)
     * @param callbackUrl Callback URL that should be called when the job becomes PROCESSED/FAILED/CANCELED. This URL will be called with a HTTP POST method, and the Job object as the payload. Callback server must answer with either a 200 or 204 HTTP response, to acknowledge the callback. Any other response code will be considered as a failure to call the callback. (optional)
     * @param modelParams Additional parameters that will be passed as is to the model (optional)
     * @param blockProcessing If true, blocks processing on the job until /job/{id}/start is called. Default is false (optional)
     * @param applyBody All the previous query parameters can also be passed as JSON in the body of the request (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A JSON depending on the data that the model is able to output. Might be converted to Classification if format_type was specified </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The documents could not be processed by this model, or using a tag with multiple document_ids </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not a classification model </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model or document not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call applyModelAsyncAsync(String token, String modelId, List<String> documentIds, String tag, FormatTypes formatType, String executeAfterId, String pageRange, String callbackUrl, Object modelParams, Boolean blockProcessing, ApplyBody applyBody, final ApiCallback<Job> _callback) throws ApiException {

        okhttp3.Call localVarCall = applyModelAsyncValidateBeforeCall(token, modelId, documentIds, tag, formatType, executeAfterId, pageRange, callbackUrl, modelParams, blockProcessing, applyBody, _callback);
        Type localVarReturnType = new TypeToken<Job>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getModel
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id or the short name of the model to get (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A model </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getModelCall(String token, String modelId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model/{model_id}"
            .replaceAll("\\{" + "model_id" + "\\}", localVarApiClient.escapeString(modelId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (token != null) {
            localVarHeaderParams.put("token", localVarApiClient.parameterToString(token));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getModelValidateBeforeCall(String token, String modelId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'token' is set
        if (token == null) {
            throw new ApiException("Missing the required parameter 'token' when calling getModel(Async)");
        }
        
        // verify the required parameter 'modelId' is set
        if (modelId == null) {
            throw new ApiException("Missing the required parameter 'modelId' when calling getModel(Async)");
        }
        

        okhttp3.Call localVarCall = getModelCall(token, modelId, _callback);
        return localVarCall;

    }

    /**
     * Get a model
     * Get a model in the system that the application can access
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id or the short name of the model to get (required)
     * @return Model
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A model </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public Model getModel(String token, String modelId) throws ApiException {
        ApiResponse<Model> localVarResp = getModelWithHttpInfo(token, modelId);
        return localVarResp.getData();
    }

    /**
     * Get a model
     * Get a model in the system that the application can access
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id or the short name of the model to get (required)
     * @return ApiResponse&lt;Model&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A model </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Model> getModelWithHttpInfo(String token, String modelId) throws ApiException {
        okhttp3.Call localVarCall = getModelValidateBeforeCall(token, modelId, null);
        Type localVarReturnType = new TypeToken<Model>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get a model (asynchronously)
     * Get a model in the system that the application can access
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id or the short name of the model to get (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A model </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getModelAsync(String token, String modelId, final ApiCallback<Model> _callback) throws ApiException {

        okhttp3.Call localVarCall = getModelValidateBeforeCall(token, modelId, _callback);
        Type localVarReturnType = new TypeToken<Model>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getModels
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId Filter by id (optional)
     * @param modelType Filter by type (optional)
     * @param name Filter by name (optional)
     * @param shortName Filter by short name (optional)
     * @param description Gets models that contain this string in their description (optional)
     * @param inputTypes Filter by input type (optional)
     * @param tags If specified, filters the models by tag (optional)
     * @param createdAfter If specified, keeps only models created after given UTC timestamp (ISO 8601 format : yyyy-MM-ddThh:mm:ss) (optional)
     * @param createdBefore If specified, keeps only models created before given UTC timestamp (ISO 8601 format : yyyy-MM-ddThh:mm:ss) (optional)
     * @param onlyMine If true, will list only models that strictly belong to logged in application (and not all the models that it can use) (false by default) (optional)
     * @param sort If specified, sorts the models by a list of existing parameters separated by commas. Can be &#39;application_id&#39;, &#39;creation_time&#39;, &#39;name&#39;, &#39;description&#39;, &#39;model_type&#39;. Sorts in ascending order by default. If a parameter is preceded by &#39;-&#39;, it is sorted in descending order. (optional)
     * @param offset Number of the first model to send (pagination) (optional)
     * @param limit Maximum number of models to send (pagination) (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Model list. Also contains pagination information in the headers:&lt;br /&gt; Content-Range: first-last/total&lt;br /&gt; Accept-Range: model max_limit  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getModelsCall(String token, String modelId, ModelTypes modelType, String name, String shortName, String description, List<ModelInputTypes> inputTypes, List<String> tags, OffsetDateTime createdAfter, OffsetDateTime createdBefore, Boolean onlyMine, String sort, Integer offset, Integer limit, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (modelId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("model_id", modelId));
        }

        if (modelType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("model_type", modelType));
        }

        if (name != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("name", name));
        }

        if (shortName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("short_name", shortName));
        }

        if (description != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("description", description));
        }

        if (inputTypes != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "input_types", inputTypes));
        }

        if (tags != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "tags", tags));
        }

        if (createdAfter != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("created_after", createdAfter));
        }

        if (createdBefore != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("created_before", createdBefore));
        }

        if (onlyMine != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("only_mine", onlyMine));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (token != null) {
            localVarHeaderParams.put("token", localVarApiClient.parameterToString(token));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getModelsValidateBeforeCall(String token, String modelId, ModelTypes modelType, String name, String shortName, String description, List<ModelInputTypes> inputTypes, List<String> tags, OffsetDateTime createdAfter, OffsetDateTime createdBefore, Boolean onlyMine, String sort, Integer offset, Integer limit, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'token' is set
        if (token == null) {
            throw new ApiException("Missing the required parameter 'token' when calling getModels(Async)");
        }
        

        okhttp3.Call localVarCall = getModelsCall(token, modelId, modelType, name, shortName, description, inputTypes, tags, createdAfter, createdBefore, onlyMine, sort, offset, limit, _callback);
        return localVarCall;

    }

    /**
     * Lists models (paginated)
     * Lists models corresponding to the filters that the application can access
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId Filter by id (optional)
     * @param modelType Filter by type (optional)
     * @param name Filter by name (optional)
     * @param shortName Filter by short name (optional)
     * @param description Gets models that contain this string in their description (optional)
     * @param inputTypes Filter by input type (optional)
     * @param tags If specified, filters the models by tag (optional)
     * @param createdAfter If specified, keeps only models created after given UTC timestamp (ISO 8601 format : yyyy-MM-ddThh:mm:ss) (optional)
     * @param createdBefore If specified, keeps only models created before given UTC timestamp (ISO 8601 format : yyyy-MM-ddThh:mm:ss) (optional)
     * @param onlyMine If true, will list only models that strictly belong to logged in application (and not all the models that it can use) (false by default) (optional)
     * @param sort If specified, sorts the models by a list of existing parameters separated by commas. Can be &#39;application_id&#39;, &#39;creation_time&#39;, &#39;name&#39;, &#39;description&#39;, &#39;model_type&#39;. Sorts in ascending order by default. If a parameter is preceded by &#39;-&#39;, it is sorted in descending order. (optional)
     * @param offset Number of the first model to send (pagination) (optional)
     * @param limit Maximum number of models to send (pagination) (optional)
     * @return List&lt;Model&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Model list. Also contains pagination information in the headers:&lt;br /&gt; Content-Range: first-last/total&lt;br /&gt; Accept-Range: model max_limit  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
     </table>
     */
    public List<Model> getModels(String token, String modelId, ModelTypes modelType, String name, String shortName, String description, List<ModelInputTypes> inputTypes, List<String> tags, OffsetDateTime createdAfter, OffsetDateTime createdBefore, Boolean onlyMine, String sort, Integer offset, Integer limit) throws ApiException {
        ApiResponse<List<Model>> localVarResp = getModelsWithHttpInfo(token, modelId, modelType, name, shortName, description, inputTypes, tags, createdAfter, createdBefore, onlyMine, sort, offset, limit);
        return localVarResp.getData();
    }

    /**
     * Lists models (paginated)
     * Lists models corresponding to the filters that the application can access
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId Filter by id (optional)
     * @param modelType Filter by type (optional)
     * @param name Filter by name (optional)
     * @param shortName Filter by short name (optional)
     * @param description Gets models that contain this string in their description (optional)
     * @param inputTypes Filter by input type (optional)
     * @param tags If specified, filters the models by tag (optional)
     * @param createdAfter If specified, keeps only models created after given UTC timestamp (ISO 8601 format : yyyy-MM-ddThh:mm:ss) (optional)
     * @param createdBefore If specified, keeps only models created before given UTC timestamp (ISO 8601 format : yyyy-MM-ddThh:mm:ss) (optional)
     * @param onlyMine If true, will list only models that strictly belong to logged in application (and not all the models that it can use) (false by default) (optional)
     * @param sort If specified, sorts the models by a list of existing parameters separated by commas. Can be &#39;application_id&#39;, &#39;creation_time&#39;, &#39;name&#39;, &#39;description&#39;, &#39;model_type&#39;. Sorts in ascending order by default. If a parameter is preceded by &#39;-&#39;, it is sorted in descending order. (optional)
     * @param offset Number of the first model to send (pagination) (optional)
     * @param limit Maximum number of models to send (pagination) (optional)
     * @return ApiResponse&lt;List&lt;Model&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Model list. Also contains pagination information in the headers:&lt;br /&gt; Content-Range: first-last/total&lt;br /&gt; Accept-Range: model max_limit  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<Model>> getModelsWithHttpInfo(String token, String modelId, ModelTypes modelType, String name, String shortName, String description, List<ModelInputTypes> inputTypes, List<String> tags, OffsetDateTime createdAfter, OffsetDateTime createdBefore, Boolean onlyMine, String sort, Integer offset, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = getModelsValidateBeforeCall(token, modelId, modelType, name, shortName, description, inputTypes, tags, createdAfter, createdBefore, onlyMine, sort, offset, limit, null);
        Type localVarReturnType = new TypeToken<List<Model>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Lists models (paginated) (asynchronously)
     * Lists models corresponding to the filters that the application can access
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId Filter by id (optional)
     * @param modelType Filter by type (optional)
     * @param name Filter by name (optional)
     * @param shortName Filter by short name (optional)
     * @param description Gets models that contain this string in their description (optional)
     * @param inputTypes Filter by input type (optional)
     * @param tags If specified, filters the models by tag (optional)
     * @param createdAfter If specified, keeps only models created after given UTC timestamp (ISO 8601 format : yyyy-MM-ddThh:mm:ss) (optional)
     * @param createdBefore If specified, keeps only models created before given UTC timestamp (ISO 8601 format : yyyy-MM-ddThh:mm:ss) (optional)
     * @param onlyMine If true, will list only models that strictly belong to logged in application (and not all the models that it can use) (false by default) (optional)
     * @param sort If specified, sorts the models by a list of existing parameters separated by commas. Can be &#39;application_id&#39;, &#39;creation_time&#39;, &#39;name&#39;, &#39;description&#39;, &#39;model_type&#39;. Sorts in ascending order by default. If a parameter is preceded by &#39;-&#39;, it is sorted in descending order. (optional)
     * @param offset Number of the first model to send (pagination) (optional)
     * @param limit Maximum number of models to send (pagination) (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Model list. Also contains pagination information in the headers:&lt;br /&gt; Content-Range: first-last/total&lt;br /&gt; Accept-Range: model max_limit  </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getModelsAsync(String token, String modelId, ModelTypes modelType, String name, String shortName, String description, List<ModelInputTypes> inputTypes, List<String> tags, OffsetDateTime createdAfter, OffsetDateTime createdBefore, Boolean onlyMine, String sort, Integer offset, Integer limit, final ApiCallback<List<Model>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getModelsValidateBeforeCall(token, modelId, modelType, name, shortName, description, inputTypes, tags, createdAfter, createdBefore, onlyMine, sort, offset, limit, _callback);
        Type localVarReturnType = new TypeToken<List<Model>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for tagModel
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id of the model (required)
     * @param tag The tag to add to the model (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The model with the new tag </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call tagModelCall(String token, String modelId, String tag, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model/{model_id}/tag/{tag}"
            .replaceAll("\\{" + "model_id" + "\\}", localVarApiClient.escapeString(modelId.toString()))
            .replaceAll("\\{" + "tag" + "\\}", localVarApiClient.escapeString(tag.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (token != null) {
            localVarHeaderParams.put("token", localVarApiClient.parameterToString(token));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call tagModelValidateBeforeCall(String token, String modelId, String tag, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'token' is set
        if (token == null) {
            throw new ApiException("Missing the required parameter 'token' when calling tagModel(Async)");
        }
        
        // verify the required parameter 'modelId' is set
        if (modelId == null) {
            throw new ApiException("Missing the required parameter 'modelId' when calling tagModel(Async)");
        }
        
        // verify the required parameter 'tag' is set
        if (tag == null) {
            throw new ApiException("Missing the required parameter 'tag' when calling tagModel(Async)");
        }
        

        okhttp3.Call localVarCall = tagModelCall(token, modelId, tag, _callback);
        return localVarCall;

    }

    /**
     * Tags a model
     * Tags a model
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id of the model (required)
     * @param tag The tag to add to the model (required)
     * @return Model
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The model with the new tag </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public Model tagModel(String token, String modelId, String tag) throws ApiException {
        ApiResponse<Model> localVarResp = tagModelWithHttpInfo(token, modelId, tag);
        return localVarResp.getData();
    }

    /**
     * Tags a model
     * Tags a model
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id of the model (required)
     * @param tag The tag to add to the model (required)
     * @return ApiResponse&lt;Model&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The model with the new tag </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Model> tagModelWithHttpInfo(String token, String modelId, String tag) throws ApiException {
        okhttp3.Call localVarCall = tagModelValidateBeforeCall(token, modelId, tag, null);
        Type localVarReturnType = new TypeToken<Model>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Tags a model (asynchronously)
     * Tags a model
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id of the model (required)
     * @param tag The tag to add to the model (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The model with the new tag </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call tagModelAsync(String token, String modelId, String tag, final ApiCallback<Model> _callback) throws ApiException {

        okhttp3.Call localVarCall = tagModelValidateBeforeCall(token, modelId, tag, _callback);
        Type localVarReturnType = new TypeToken<Model>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for trainModelAsync
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelModule The module name of the model to train on documents (required)
     * @param documentsTag The tag of the documents to train with (required)
     * @param modelName The future name of the model in database (optional)
     * @param shortName The new short name of the model (optional)
     * @param description The description of the model (optional)
     * @param ttl The TTL of the model in seconds, if running in worker mode (negative for infinite TTL, default is 200) (optional)
     * @param allowedApplicationIds The applications allowed to use this model (optional)
     * @param allowAllApplications Is this model allowed for everyone ? (optional)
     * @param tags The tags of the model (optional)
     * @param executeAfterId The job that is a prerequisite for this job to run (optional)
     * @param callbackUrl Callback URL that should be called when the job becomes PROCESSED/FAILED/CANCELED. This URL will be called with a HTTP POST method, and the Job object as the payload. Callback server must answer with either a 200 or 204 HTTP response, to acknowledge the callback. Any other response code will be considered as a failure to call the callback. (optional)
     * @param modelParams Additional parameters that will be passed as is to the train method (optional)
     * @param trainBody All the previous query parameters can also be passed as JSON in the body of the request (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A JSON depending on the data that the model is able to output. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The documents could not be processed by this model </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not a trainable model </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Training documents not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call trainModelAsyncCall(String token, String modelModule, String documentsTag, String modelName, String shortName, String description, Integer ttl, List<String> allowedApplicationIds, Boolean allowAllApplications, List<String> tags, String executeAfterId, String callbackUrl, Object modelParams, TrainBody trainBody, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = trainBody;

        // create path and map variables
        String localVarPath = "/model/{model_module}/train/{documents_tag}"
            .replaceAll("\\{" + "model_module" + "\\}", localVarApiClient.escapeString(modelModule.toString()))
            .replaceAll("\\{" + "documents_tag" + "\\}", localVarApiClient.escapeString(documentsTag.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (modelName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("model_name", modelName));
        }

        if (shortName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("short_name", shortName));
        }

        if (description != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("description", description));
        }

        if (ttl != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ttl", ttl));
        }

        if (allowedApplicationIds != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "allowed_application_ids", allowedApplicationIds));
        }

        if (allowAllApplications != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("allow_all_applications", allowAllApplications));
        }

        if (tags != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "tags", tags));
        }

        if (executeAfterId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("execute_after_id", executeAfterId));
        }

        if (callbackUrl != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("callback_url", callbackUrl));
        }

        if (modelParams != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("model_params", modelParams));
        }

        if (token != null) {
            localVarHeaderParams.put("token", localVarApiClient.parameterToString(token));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call trainModelAsyncValidateBeforeCall(String token, String modelModule, String documentsTag, String modelName, String shortName, String description, Integer ttl, List<String> allowedApplicationIds, Boolean allowAllApplications, List<String> tags, String executeAfterId, String callbackUrl, Object modelParams, TrainBody trainBody, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'token' is set
        if (token == null) {
            throw new ApiException("Missing the required parameter 'token' when calling trainModelAsync(Async)");
        }
        
        // verify the required parameter 'modelModule' is set
        if (modelModule == null) {
            throw new ApiException("Missing the required parameter 'modelModule' when calling trainModelAsync(Async)");
        }
        
        // verify the required parameter 'documentsTag' is set
        if (documentsTag == null) {
            throw new ApiException("Missing the required parameter 'documentsTag' when calling trainModelAsync(Async)");
        }
        

        okhttp3.Call localVarCall = trainModelAsyncCall(token, modelModule, documentsTag, modelName, shortName, description, ttl, allowedApplicationIds, allowAllApplications, tags, executeAfterId, callbackUrl, modelParams, trainBody, _callback);
        return localVarCall;

    }

    /**
     * Asynchronously trains a model on documents (admin only)
     * Asynchronously trains a model on accessible documents and returns a Job, that will have to be polled to get the result. This method is only accessible to admins
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelModule The module name of the model to train on documents (required)
     * @param documentsTag The tag of the documents to train with (required)
     * @param modelName The future name of the model in database (optional)
     * @param shortName The new short name of the model (optional)
     * @param description The description of the model (optional)
     * @param ttl The TTL of the model in seconds, if running in worker mode (negative for infinite TTL, default is 200) (optional)
     * @param allowedApplicationIds The applications allowed to use this model (optional)
     * @param allowAllApplications Is this model allowed for everyone ? (optional)
     * @param tags The tags of the model (optional)
     * @param executeAfterId The job that is a prerequisite for this job to run (optional)
     * @param callbackUrl Callback URL that should be called when the job becomes PROCESSED/FAILED/CANCELED. This URL will be called with a HTTP POST method, and the Job object as the payload. Callback server must answer with either a 200 or 204 HTTP response, to acknowledge the callback. Any other response code will be considered as a failure to call the callback. (optional)
     * @param modelParams Additional parameters that will be passed as is to the train method (optional)
     * @param trainBody All the previous query parameters can also be passed as JSON in the body of the request (optional)
     * @return Job
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A JSON depending on the data that the model is able to output. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The documents could not be processed by this model </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not a trainable model </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Training documents not found </td><td>  -  </td></tr>
     </table>
     */
    public Job trainModelAsync(String token, String modelModule, String documentsTag, String modelName, String shortName, String description, Integer ttl, List<String> allowedApplicationIds, Boolean allowAllApplications, List<String> tags, String executeAfterId, String callbackUrl, Object modelParams, TrainBody trainBody) throws ApiException {
        ApiResponse<Job> localVarResp = trainModelAsyncWithHttpInfo(token, modelModule, documentsTag, modelName, shortName, description, ttl, allowedApplicationIds, allowAllApplications, tags, executeAfterId, callbackUrl, modelParams, trainBody);
        return localVarResp.getData();
    }

    /**
     * Asynchronously trains a model on documents (admin only)
     * Asynchronously trains a model on accessible documents and returns a Job, that will have to be polled to get the result. This method is only accessible to admins
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelModule The module name of the model to train on documents (required)
     * @param documentsTag The tag of the documents to train with (required)
     * @param modelName The future name of the model in database (optional)
     * @param shortName The new short name of the model (optional)
     * @param description The description of the model (optional)
     * @param ttl The TTL of the model in seconds, if running in worker mode (negative for infinite TTL, default is 200) (optional)
     * @param allowedApplicationIds The applications allowed to use this model (optional)
     * @param allowAllApplications Is this model allowed for everyone ? (optional)
     * @param tags The tags of the model (optional)
     * @param executeAfterId The job that is a prerequisite for this job to run (optional)
     * @param callbackUrl Callback URL that should be called when the job becomes PROCESSED/FAILED/CANCELED. This URL will be called with a HTTP POST method, and the Job object as the payload. Callback server must answer with either a 200 or 204 HTTP response, to acknowledge the callback. Any other response code will be considered as a failure to call the callback. (optional)
     * @param modelParams Additional parameters that will be passed as is to the train method (optional)
     * @param trainBody All the previous query parameters can also be passed as JSON in the body of the request (optional)
     * @return ApiResponse&lt;Job&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A JSON depending on the data that the model is able to output. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The documents could not be processed by this model </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not a trainable model </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Training documents not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Job> trainModelAsyncWithHttpInfo(String token, String modelModule, String documentsTag, String modelName, String shortName, String description, Integer ttl, List<String> allowedApplicationIds, Boolean allowAllApplications, List<String> tags, String executeAfterId, String callbackUrl, Object modelParams, TrainBody trainBody) throws ApiException {
        okhttp3.Call localVarCall = trainModelAsyncValidateBeforeCall(token, modelModule, documentsTag, modelName, shortName, description, ttl, allowedApplicationIds, allowAllApplications, tags, executeAfterId, callbackUrl, modelParams, trainBody, null);
        Type localVarReturnType = new TypeToken<Job>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Asynchronously trains a model on documents (admin only) (asynchronously)
     * Asynchronously trains a model on accessible documents and returns a Job, that will have to be polled to get the result. This method is only accessible to admins
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelModule The module name of the model to train on documents (required)
     * @param documentsTag The tag of the documents to train with (required)
     * @param modelName The future name of the model in database (optional)
     * @param shortName The new short name of the model (optional)
     * @param description The description of the model (optional)
     * @param ttl The TTL of the model in seconds, if running in worker mode (negative for infinite TTL, default is 200) (optional)
     * @param allowedApplicationIds The applications allowed to use this model (optional)
     * @param allowAllApplications Is this model allowed for everyone ? (optional)
     * @param tags The tags of the model (optional)
     * @param executeAfterId The job that is a prerequisite for this job to run (optional)
     * @param callbackUrl Callback URL that should be called when the job becomes PROCESSED/FAILED/CANCELED. This URL will be called with a HTTP POST method, and the Job object as the payload. Callback server must answer with either a 200 or 204 HTTP response, to acknowledge the callback. Any other response code will be considered as a failure to call the callback. (optional)
     * @param modelParams Additional parameters that will be passed as is to the train method (optional)
     * @param trainBody All the previous query parameters can also be passed as JSON in the body of the request (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A JSON depending on the data that the model is able to output. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The documents could not be processed by this model </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not a trainable model </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Training documents not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call trainModelAsyncAsync(String token, String modelModule, String documentsTag, String modelName, String shortName, String description, Integer ttl, List<String> allowedApplicationIds, Boolean allowAllApplications, List<String> tags, String executeAfterId, String callbackUrl, Object modelParams, TrainBody trainBody, final ApiCallback<Job> _callback) throws ApiException {

        okhttp3.Call localVarCall = trainModelAsyncValidateBeforeCall(token, modelModule, documentsTag, modelName, shortName, description, ttl, allowedApplicationIds, allowAllApplications, tags, executeAfterId, callbackUrl, modelParams, trainBody, _callback);
        Type localVarReturnType = new TypeToken<Job>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for untagModel
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id of the model (required)
     * @param tag The tag to delete from the model (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The model without the deleted tag </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call untagModelCall(String token, String modelId, String tag, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model/{model_id}/tag/{tag}"
            .replaceAll("\\{" + "model_id" + "\\}", localVarApiClient.escapeString(modelId.toString()))
            .replaceAll("\\{" + "tag" + "\\}", localVarApiClient.escapeString(tag.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (token != null) {
            localVarHeaderParams.put("token", localVarApiClient.parameterToString(token));
        }

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call untagModelValidateBeforeCall(String token, String modelId, String tag, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'token' is set
        if (token == null) {
            throw new ApiException("Missing the required parameter 'token' when calling untagModel(Async)");
        }
        
        // verify the required parameter 'modelId' is set
        if (modelId == null) {
            throw new ApiException("Missing the required parameter 'modelId' when calling untagModel(Async)");
        }
        
        // verify the required parameter 'tag' is set
        if (tag == null) {
            throw new ApiException("Missing the required parameter 'tag' when calling untagModel(Async)");
        }
        

        okhttp3.Call localVarCall = untagModelCall(token, modelId, tag, _callback);
        return localVarCall;

    }

    /**
     * Untags a model
     * Untags a model
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id of the model (required)
     * @param tag The tag to delete from the model (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The model without the deleted tag </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public void untagModel(String token, String modelId, String tag) throws ApiException {
        untagModelWithHttpInfo(token, modelId, tag);
    }

    /**
     * Untags a model
     * Untags a model
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id of the model (required)
     * @param tag The tag to delete from the model (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The model without the deleted tag </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> untagModelWithHttpInfo(String token, String modelId, String tag) throws ApiException {
        okhttp3.Call localVarCall = untagModelValidateBeforeCall(token, modelId, tag, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Untags a model (asynchronously)
     * Untags a model
     * @param token The login token obtained via GET /login/{api_key} (required)
     * @param modelId The id of the model (required)
     * @param tag The tag to delete from the model (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The model without the deleted tag </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Not logged in </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Model not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call untagModelAsync(String token, String modelId, String tag, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = untagModelValidateBeforeCall(token, modelId, tag, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
